<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shine.dao.ims.GroupDao" >
  <resultMap id="BaseResultMap" type="com.shine.entity.ims.Group" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,name,description
  </sql>
  
  
  <insert id="addGroup"  useGeneratedKeys="true" keyProperty="id" parameterType="com.shine.entity.ims.Group" >
    insert into ims.group(name,description)values
    (#{name,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR})
  </insert>
  <update id="updateGroup" parameterType="com.shine.entity.ims.Group" >
    update ims.group
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
    <delete id="deleteGroup">
  	 DELETE FROM ims.group WHERE id in
  	 <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
  	 	#{item}
  	 </foreach>
  	 </delete>
  	 
  	<select id="findGroupById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from ims.group where id=#{id}
  </select>
  
  <sql id="whereStatement">
  	<where>
    	1=1
    	<if test="name!=null and name!='' ">
    		and name like CONCAT('%','${name}','%')
    	</if>
    	<if test="description!=null and description!='' ">
    		and description like CONCAT('%', '${description}','%')
    	</if>
    </where>
  </sql> 
  
  <select id="searchGroup" resultType="com.shine.entity.ims.Group">
    select a.* from (select 
    <include refid="Base_Column_List" />
    from ims.group
     <include refid="whereStatement" /> 
    ) a
  </select>
  
</mapper>